<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top__inner">
        <!-- Menu de navigation principal -->
        <nav class="header__menu" aria-label="Main navigation">
          <ul>
            <li class="active"><a href="#">HOME</a></li>
            <li><a routerLink="/commande">COMMANDE</a></li>
            <li><a href="#">SHOP</a></li>
            <li class="menu-item" aria-haspopup="true">
              <a href="#">MENU <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown" aria-label="Menu dropdown">
                <li><a href="#">Shop Details</a></li>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Check Out</a></li>
                <li><a href="#">Wishlist</a></li>
              </ul>
            </li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </nav>

        <!-- Section droite : Icônes seulement -->
        <div class="header__top__right">
          <div class="header__top__right__links">
            <a href="#" class="search-switch" aria-label="Search"><i class="fa fa-search"></i></a>
            <a routerLink="/panier" aria-label="Cart">
              <i class="fa fa-shopping-cart"></i> <span>0</span>
            </a>
             
            <ng-container *ngIf="authService.isAuthenticated(); else loginButton">
              <a (click)="handleAuthAction()" class="logout-btn" aria-label="Déconnexion">
                <i class="fa fa-sign-out"></i>
              </a>
            </ng-container>

            <ng-template #loginButton>
              <a (click)="handleAuthAction()" aria-label="Connexion">
                <i class="fa fa-user"></i>
              </a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>